#haxelibsList
{
	overflow-y: auto;
}

.modal
{
	overflow-y: hidden;
}

.buildButton
{
	padding: 3px;
	line-height: 1;
	float: right;
}

#welcomeScreen
{
    -webkit-user-select: none;
}

.dropdown-submenu>.dropdown-menu
{
	max-height: 500px;
	overflow: auto;
}

#commandInputElement
{
	width: 100%;
}

#commandPreviewText
{
	padding-top: 5px;
	color: #585858;
}

.errorMarker
{
	width: 100%;
	height: 1%;
	background-color: #D06316;
	position: absolute;
}

.tooltip 
{
    position: fixed;
	z-index: 100000000;
}