#haxelibsList
{
	overflow-y: auto;
}

.modal
{
	overflow-y: hidden;
}

.buildButton
{
	padding: 3px;
	line-height: 1;
	float: right;
}

#welcomeScreen
{
    -webkit-user-select: none;
}

.dropdown-submenu>.dropdown-menu
{
	max-height: 500px;
	overflow: auto;
}

#commandInputElement
{
	width: 100%;
}

#commandPreviewText
{
	padding-top: 5px;
	color: #585858;
}