#quickOpen
{
    position: fixed;
    z-index: 10000;
    width: 500px;
    max-width: 700px;
    margin-top: -150px;
    margin-left: -250px;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

#quickOpenInputGroup
{
    width: 100%;
}

#quickOpenListGroup
{
    height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}